@{
    ViewData["Title"] = "Thông tin giáo viên";
}

@model IEnumerable<demoCatalogue.Models.GiaoVien>

<h1>Danh sách giáo viên</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.TenGiaoVien)</th>
            <th>@Html.DisplayNameFor(model=> model.TuoiGiaoVien)</th>
            <th>@Html.DisplayNameFor(model => model.KhoaGiaoVien)</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(i=>item.TenGiaoVien)
                </td>
                <td>
                    @Html.DisplayFor(i=>item.TuoiGiaoVien)
                </td>
                <td>
                    @Html.DisplayFor(i=>item.KhoaGiaoVien)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MaGiaoVien">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MaGiaoVien">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MaGiaoVien">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>